extends ./layout-auth
block variables
    - var formTitle = 'Create new account'

block content
    form(method="POST" id="signup-form")
        input(type='hidden' name='_csrf', value=_csrf)
        div(class="row")
            div(class="col-md-6 form-group text-left")
                label(for="fname") First Name
                input(type='text' class='form-control' name='fname' id='fname' placeholder='First Name', autofocus, autocomplete='fname', required)
            div(class="col-md-6 form-group text-left")
                label(for="lname") Last Name
                input(type='text' class='form-control' name='lname' id='lname' placeholder='Last Name', autofocus, autocomplete='lname', required)
        div(class="form-group text-left")
            label(for="dob") Date of Birth
            input(type='date' class='form-control' name='dob' id='dob' placeholder='Date of birth', autofocus, autocomplete='dob', required)

        div(class="form-group text-left")
            label(for="email") Email Address
            input(type='email' class='form-control' name='email' id='email' placeholder='Email', autofocus, autocomplete='email', required)
        div(class="row")
            div(class="col-md-6 form-group text-left")
                label(for="password") Password
                input(type='password' class='form-control' name='password' id='password' placeholder='Password' autocomplete='new-password', required)
            div(class="col-md-6 form-group text-left")
                label(for="confirmPassword") Confirm Password
                input(type='password' class='form-control' name='confirmPassword' id='confirmPassword' placeholder='Confirm Password' autocomplete='new-password', required)

        div(class="form-group text-left")
            div(class="custom-control custom-checkbox")
                input(type="checkbox" name="confirm" class="custom-control-input" id="confirm-me")
                label(for="confirm-me" class="custom-control-label") I agree to the
                    a(href="#") terms and policy

        button(class="btn btn-primary mb-4") Register

    p(class="mb-2 text-muted") Already have an account?
        a(href="/login")  Login