block content
footer(class="footer")
  div(class="footer")
    div(class="container")
      div(class="row pt-5")
        div(class="col-lg-3 col-sm-6 col-6 my-3 footer-contact")
          //- img(src="logo-white.png", alt="logo" class="img-fluid")
          img(src="../../xinney-white.png", alt="logo" class="img-fluid" width="125px")

          address(class="text-white mt-4")
            ul(class="list-unstyled")
              li
                i(class="fa fa-map-marker")
                span(class="sr-only") Location:
                a(href="#") Ichangu, Nepal
              li
                i(class="fa fa-phone")
                span(class="sr-only") Telephone:
                a(href="tel:+9803100100") +(977) 9803100100
              li
                i(class="fa fa-envelope")
                span(class="sr-only") Mail:
                a(href="mailto:info@xinney.com") info@xinney.com

        div(class="col-lg-3 col-sm-6 col-6 my-3")
          h3 Customer Service
          ul(class="list-unstyled")
            li Free Shipping
            li 24/7 Support
            li Secure Payment

        div(class="col-lg-3 col-sm-6 col-6 my-3")
          h3 My Account
          ul(class="list-unstyled")
            li
              a(href="/login" class="text-white") Login
            li
              a(href="/signup/customer" class="text-white") Sign Up

        div(class="col-lg-3 col-sm-6 col-6 my-3")
          h3 About
          ul(class="list-unstyled")
            li
              a(href="#" class="text-white") Contact Us
            li
              a(href="#" class="text-white") FAQs

    div(class="container")
      div(class="row")
        div(class="col-lg-12 col-12")
          p(class="copyright") Copyright 2020 Xinney Nepal. All Rights Reserved
a(href="#" class="scrollTop")
  i(class="fa fa-arrow-up")