include partials/headermain

//- main
main
  section(class="faq")
    div(class="container")
      div(class="heading-section")
        h2(class="text-center p-3 my-4") FAQs
      div(class="row")
        div(class="col-lg-8 offset-lg-2")
          div(class="accordion mt-5" id="accordianExample")
            div(class="card")
              div(class="card-header" id="headingOne")
                h2(class="mb-0")
                  a(href="#" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") How can I contact you?
                    i(class="fa fa-angle-down")  
              div(class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordianExample")
                div(class="card-body") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tempore voluptates nemo ut aperiam impedit? Sunt praesentium quia repudiandae aliquid similique magni quasi aliquam cupiditate est quos accusantium explicabo animi voluptatibus libero ullam atque quam expedita, laboriosam fugit veniam numquam porro. Itaque maiores voluptas odio asperiores quae quod repudiandae veniam.
                  
            div(class="card")
              div(class="card-header" id="headingTwo")
                h2(class="mb-0")
                  a(href="#" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") How can I contact you?
                    i(class="fa fa-angle-down")  
              div(class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordianExample")
                div(class="card-body") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tempore voluptates nemo ut aperiam impedit? Sunt praesentium quia repudiandae aliquid similique magni quasi aliquam cupiditate est quos accusantium explicabo animi voluptatibus libero ullam atque quam expedita, laboriosam fugit veniam numquam porro. Itaque maiores voluptas odio asperiores quae quod repudiandae veniam.
                  
            div(class="card")
              div(class="card-header" id="headingThree")
                h2(class="mb-0")
                  a(href="#" class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree") How can I contact you?
                    i(class="fa fa-angle-down")  
              div(class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordianExample")
                div(class="card-body") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tempore voluptates nemo ut aperiam impedit? Sunt praesentium quia repudiandae aliquid similique magni quasi aliquam cupiditate est quos accusantium explicabo animi voluptatibus libero ullam atque quam expedita, laboriosam fugit veniam numquam porro. Itaque maiores voluptas odio asperiores quae quod repudiandae veniam.
                  
            div(class="card")
              div(class="card-header" id="headingFour")
                h2(class="mb-0")
                  a(href="#" class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour") How can I contact you?
                    i(class="fa fa-angle-down")  
              div(class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordianExample")
                div(class="card-body") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tempore voluptates nemo ut aperiam impedit? Sunt praesentium quia repudiandae aliquid similique magni quasi aliquam cupiditate est quos accusantium explicabo animi voluptatibus libero ullam atque quam expedita, laboriosam fugit veniam numquam porro. Itaque maiores voluptas odio asperiores quae quod repudiandae veniam.
                  
            div(class="card")
              div(class="card-header" id="headingFive")
                h2(class="mb-0")
                  a(href="#" class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive") How can I contact you?
                    i(class="fa fa-angle-down")  
              div(class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#accordianExample")
                div(class="card-body") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tempore voluptates nemo ut aperiam impedit? Sunt praesentium quia repudiandae aliquid similique magni quasi aliquam cupiditate est quos accusantium explicabo animi voluptatibus libero ullam atque quam expedita, laboriosam fugit veniam numquam porro. Itaque maiores voluptas odio asperiores quae quod repudiandae veniam.
                  
            div(class="card")
              div(class="card-header" id="headingSix")
                h2(class="mb-0")
                  a(href="#" class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix") How can I contact you?
                    i(class="fa fa-angle-down")  
              div(class="collapse" id="collapseSix" aria-labelledby="headingSix" data-parent="#accordianExample")
                div(class="card-body") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tempore voluptates nemo ut aperiam impedit? Sunt praesentium quia repudiandae aliquid similique magni quasi aliquam cupiditate est quos accusantium explicabo animi voluptatibus libero ullam atque quam expedita, laboriosam fugit veniam numquam porro. Itaque maiores voluptas odio asperiores quae quod repudiandae veniam.
                  
            




//- Footer
include partials/footer
