{
    "default": {
        "beauty": {
            "face": {
                "foundation": 1,
                "ordinary": {
                    "acne": 1,
                    "darkspots": {
                    	"baby": 1,
                    	"gadhi": 1,
                    }
                }
            },
            "eye": 1,
            "liquid": 1,
            "mascara": 1
        },
        "shoes": 1,
        "chinese": 1
    }
}